<h1>Ideas#showidea</h1>
<p>Find me in app/views/ideas/showidea.html.erb</p>


<table>
  <tr>
    <th>User</th>
    <th>Project</th>
    <th>Title</th>
    <th>Detail</th>
    <th>Ancestor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ideas.each do |idea| %>
  <tr>
    <td><%= idea.user_id %></td>
    <td><%= idea.project_id %></td>
    <td><%= idea.title %></td>
    <td><%= idea.detail %></td>
    <td><%= idea.ancestor %></td>
    <td><%= link_to 'Show', idea %></td>
    <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
    <td><%= link_to 'Destroy', idea, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
