<%= form_for(@user) do |f| %>
  <div class="field">
    <%= f.text_field :username, :placeholder => 'Username' %>
  </div>
  <div class="field">
    <%= f.text_field :password, :type => 'password', :placeholder => 'Password' %>
  </div>
  <div class="field">
    <%= f.text_field :firstname, :placeholder => 'First Name' %>
  </div>
  <div class="field">
    <%= f.text_field :lastname, :placeholder => 'Last Name' %>
  </div>
  <div class="field">
    <%= f.text_field :email, :placeholder => 'Email Address' %>
  </div>
  <div class="actions">
    <div><button id="signup-button">Join Now!</button></div>
  </div>
<% end %>
